<%- include("partials/header") %>
<body>
    <form action="/posts/edit/<%= user.id %>?__method=PATCH" method="POST">
        <h4>Old Name : <%= user.username %></h4>
        <label for="username">New Name:</label>
        <input type="text" id="username" name="username" required>
    </form>
</body>
